@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family:"Nunito", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: linear-gradient(145deg, #fef7df, #dedbe5, #fff3cb);
    /* linear-gradient(145deg, #e0fcff, #c1c8f6, #ffc8e4, #ffffff); */
}

.landing{
    height:100vh;
}

/* --------------- NavBar Styling ------------------ */
.navbar{
    margin-top:20px;
    height:50px;
    display:flex;
    justify-content:center;
}

.navbar .container{
    background: rgba(224, 218, 215, 0.6);
    height:50px;
    border-radius: 50px;
    width:550px;
    margin-left:30px;
    margin-right:30px;

    display: flex;
    align-items:center;

}

.navbar .container ul{
    display:flex;
    /* align-items:center; */
    list-style-type: none;
    margin:auto;
}

.navbar ul li{
    font-size:20px;
    margin-left: 15px;
    margin-right:15px;
}

.navbar a{
    text-decoration:none;
    color:#66617c;
}

.navbar a:hover{
    color:#a2a0aa;
    transition: all 0.2s ease-in-out;
}

/* --------------- Heading Styling ------------------ */

.header{
    display:flex;
    justify-content: center;
    /* margin-top:50px; */
}

.header .container{
            /* background:white; */

    width:75%;
    /* margin-left:100px;
    margin-right:100px; */
    padding-top:80px;


    display:flex;
    align-items:center;
    justify-content:center
    /* flex-wrap:wrap; */
}

.header .heading{
    padding-top:100px;
    max-width:60%;
                /* background:gray; */
}


.heading h2{
    font-size:50px;
    color:#3b3065;
    line-height:1em;

}
.heading h1{
    font-size:60px;
    line-height:1.2em;
    margin-bottom: 20px;
    color:#3b3065;
    /* color: #ffffff;
            text-shadow: 
                2px 2px 1px rgba(189, 167, 218, 0.793),  
                4px 4px 4px rgba(142, 153, 224, 0.945),  
                2px 4px 1px rgba(179, 157, 211, 0.758);   */
}

.heading p{
    padding-left:5px;
    font-size:20px;
    color: #615495;
}

.header img{
    border-radius:50%;
    /* width:275px;
    height:auto;
    margin-left:40px;
    box-shadow: 40px 35px #9c92c5; */
}

.flip-card {
    border-radius:50%;
    background: linear-gradient(to bottom right,#faf9f4, #d6c5c5);
    width: 300px;
    height: 300px;
    perspective: 1000px;
    box-shadow: 40px 35px #de7070;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(15px); }
    100% { transform: translateY(0px); }
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-back {
    transform: rotateY(180deg);
}
